@model Bangazon.Models.ProductTypeViewModels.ProductTypeViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.productType.Label)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.productType.Label)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.products)
        </dt>
            @foreach(var item in Model.products)
            {
                <dd>@item.Title</dd>
            }   
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.productType.ProductTypeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
